<!--<p id="notice"><%= notice %></p>-->
<div id="container">

    <div class="col-sm-6">
      <div id="midCol" data-spy="affix" data-offset-top="300">
          <div><h3>Intensive Spire is here!</h3>
                We are your one-stop-shop for all things Destiny. Tired of sifting through
              countless Trials LFG ads trying to find people who aren't lying about their Stats
            or their true ELO ranking?<br/><br/>
          Yeah. Us too.</div>
          <br/>
          <div class="well">
              <img class="img-responsive" src="//placehold.it/300x300">
          </div>
          <div>Intensive Spire takes advantage of Bungie's open API and does quick ad posting for you,
          automatically pulling in your <strong>true</strong> stats.</div>
          <br/>
          <div>The developers of this website are all Destiny year 1 players.  This was built with all the things that
          drove us nuts over the last three years in mind.  Think we're doing something stupid or want new
          features added in?  Let us know below!</div>
       </div>
    </div>



      <div class="col-sm-6">
          <div class="row">
            <div class="col col-sm-12"><h2>Trials Stats</h2><p>In simple terms, a responsive web design figures out what resolution of
                device it's being served on. Flexible grids then size correctly to fit
                the screen. Mobile-first Bootstrap 3 is responsive.</p></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-8"><h2>Trials LFG</h2><p>The new Bootstrap 3 is a smaller build. The separate Bootstrap
                base and responsive.css files have now been merged into one. There is no
                more fixed grid, only fluid.</p></div>
            <div class="col-sm-4"><img class="img-responsive" src="//placehold.it/220x180/666666/FFF"></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4"><img class="img-responsive" src="//placehold.it/220x180/777777/FFF"></div>
            <div class="col-sm-8"><h2>Raid Stats</h2><p>
              The new fluid grid comes in 3 flavors, or actually sizes. The large grid <code>col-lg-*</code> works exactly like the Bootstrap 2.x <code>span*</code> did.
              There is also a small grid that is realized using the <code>col-sm-*</code> classes. This smaller grid is ideal for smartphones and tablets.
              Finally, there is the non-stacking tiny grid <code>col-*</code> that is intended for very small screens less that 480px.
              </p></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4"><img class="img-responsive" src="//placehold.it/220x180/777777/FFF"></div>
            <div class="col-sm-8"><h2>Raid LFG</h2><p>
              The new fluid grid comes in 3 flavors, or actually sizes. The large grid <code>col-lg-*</code> works exactly like the Bootstrap 2.x <code>span*</code> did.
              There is also a small grid that is realized using the <code>col-sm-*</code> classes. This smaller grid is ideal for smartphones and tablets.
              Finally, there is the non-stacking tiny grid <code>col-*</code> that is intended for very small screens less that 480px.
              </p></div>
          </div>
          <hr>

</div>
