<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
   
  <div class="home-header-text">
      <h1 class="center-align" id="home-header" style="font-weight: 500;">DESTINDER</h1>
      <h4 class="center-align" style="font-weight: 300;">LFG for the <span id="home-subtitle" style="font-weight: 200;">elite</span></h4>
    </div>
      
    <div class="container" style="width: 100%">
      <section class="hero is-medium is-dark is-bold post-header-background" style="height: 150px;">
          <div class="hero-body">
              <div class="container" style="width: 80%">
              </div>
          </div>
      </section>
    </div>
    
    <div class="container" style="width: 80%; padding-top: 5%;">
      <div class="row">
        <div class="col s12 m6 l4">
        </div>          
        <div class="col s12 m6 l4">
          <%= link_to omniauth_authorize_path(resource_name, provider) do %>
              <div class="card-panel z-depth-2 hoverable" >
                  <span class="black-text">
                      <center><i class="medium material-icons" style="color: #88BBD6;">power_settings_new</i></center>
                      <p class="center-align" style="font-size: 18px;"><%= "Sign in with #{OmniAuth::Utils.camelize(provider)}" %></p> 
                  </span>
                </div>
          <% end %>
        </div>          
        <div class="col s12 m6 l4">
        </div>          
      </div>
    </div>        



  <% end -%>
<% end -%>
