<div class="container" style="width: 90%">
        <h5>Account Badges</h5>
        <p>Badges specific to those who have an account with us: </p>
        
        <div class="row">
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='Donated at least $5!' style='color: #FAFAFA; background-color: #2ecc71; max-width: 100px;min-width: 80px;' >
                    Donator
                    <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;">attach_money</i> 
                </div>
                <br> <small> Donated at least $5!</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='Donated at least $50!' style='color: #FAFAFA; background-color: #B4B8BC; max-width: 100px;min-width: 80px;' >
                    Donator
                    <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;">attach_money</i>
                </div>
                <br> <small> Donated at least $50!</small>
            </div>     
            <div class="col s12 m4" style="margin-bottom: 1px;">
                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='Donated at least $100!' style='color: #FAFAFA; background-color: #FFCC01; max-width: 100px;min-width: 80px;' >
                        Sponsor
                        <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;">attach_money</i>
                    </div>
                    <br> <small> Donated at least $50!</small>
                </div>        
        </div>

        <div class="row">
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='One of the first 500 users on the site!' style='color: #FAFAFA; background-color: #026670; max-width: 100px;min-width: 80px;' >
                    Veteran
                    <i class="fa fa-first-order" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> One of the first 500 users on the site!</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='Feedback contributor on Reddit' style='color: #FAFAFA; background-color: #FF4500; min-width: 80px;' >
                    Little Helper
                    <i class="fa fa-reddit-alien" style="float: left; font-size: 15px; line-height: 21px; padding-right: 7px; margin-left: -6px;"></i>
                </div>
                <br> <small> Feedback contributor on Reddit</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='Follower of Destinder on social media' style='color: #FAFAFA; background-color: #1DA1F2; min-width: 80px;' >
                    Follower
                    <i class="fa fa-users" style="float: left; font-size: 15px; line-height: 21px; padding-right: 7px; margin-left: -6px;"></i>
                </div>
                <br> <small> Follower of Destinder on social media</small>                
            </div>     
        </div>
            
        <hr>
        <h5>Character Badges</h5>
        <p>Badges earned per character for in-game accomplishments </p>
        
        <div class="row">
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='More than 1/3 of total kills with a Sniper Rifle' style='color: #f1c40f; border: 1px #f1c40f solid; max-width: 100px;' >
                    Sniper
                    <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small>More than 1/3 of total kills with a Sniper Rifle</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='More than 1/3 of total kills with a Pulse Rifle' style='color: #2ecc71; border: 1px #2ecc71 solid;max-width: 100px;' >
                    Pulse
                    <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> More than 1/3 of total kills with a Pulse Rifle</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='More than 1/3 of total kills with a Scout Rifle' style='color: #9b59b6; border: 1px #9b59b6 solid; max-width: 100px;' >
                    Scout
                    <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> More than 1/3 of total kills with a Scout Rifle</small>
            </div>     
        </div>
        
        <div class="row">
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='More than 1/3 of total kills with a Hand Cannon' style='color: #e74c3c; border: 1px #e74c3c solid;' >
                    Hand Cannon
                    <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> More than 1/3 of total kills with a Hand Cannon</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='More than 1/3 of total kills with a Fusion Rifle' style='color: #34495e; border: 1px #34495e solid; max-width: 100px;' >
                    Fusion
                    <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> More than 1/3 of total kills with a Fusion Rifle</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='More than 1/3 of total kills with an Auto Rifle' style='color: #FA8708; border: 1px #FA8708 solid; max-width: 100px;' >
                    Auto
                    <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> More than 1/3 of total kills with an Auto Rifle</small>
            </div>     
        </div>

        <div class="row">
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='More than 1/3 of total kills with a Side Arm' style='color: #AA885F; border: 1px #AA885F solid; max-width: 100px;' >
                    Sidearm
                    <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> More than 1/3 of total kills with a Side Arm</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='More than 1/3 of total kills with a Shotgun' style='color: #e74c3c; border: 1px #e74c3c solid; max-width: 100px;' >
                    Shotgun
                    <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> More than 1/3 of total kills with a Shotgun</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='Performed More than 2x revives than received' style='color: #FF3B3F; border: 1px #FF3B3F solid; max-width: 100px;' >
                    Medic
                    <i class="fa fa-medkit" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> Performed More than 2x revives than received</small>
            </div>     
        </div>
        <div class="row">
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='20%+ of total kills with abilities' style='color: #4484CE; border: 1px #4484CE solid; max-width: 100px;' >
                    Super Man
                    <i class="fa fa-superpowers" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> 20%+ of total kills with abilities</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='More than 40% of total kills are precision kills' style='color: #212121; border: 1px #212121 solid; max-width: 100px;' >
                    Marksman
                    <i class="fa fa-bullseye" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px; color: #FF3B3D;"></i>
                </div>
                <br> <small> More than 40% of total kills are precision kills</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='Kill Distance is greater than 25m' style='color: #AA885F; border: 1px #AA885F solid;max-width: 100px;' >
                    Camper
                    <i class="fa fa-free-code-camp" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> Kill Distance is greater than 25m</small>
            </div>     
        </div>

        <div class="row">
            <div class="col s12 m4" style="margin-bottom: 1px;">
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip='Kill Distance is less than 20m' style='color: #FF4500; border: 1px #FF4500 solid;max-width: 100px;' >
                    Rusher
                    <i class="fa fa-fast-forward" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> Kill Distance is less than 20m</small>
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">

                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Killing Spree greater than 10" style="color: #FF3B3D; border: 1px #009EF9 solid;max-width: 113px;" data-tooltip-id="b2688874-00a9-0ff1-ecbc-1ef75cb47d35">
                    Fight Forever
                    <i class="fa fa-fire-extinguisher" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                </div>
                <br> <small> Killing Spree greater than 10</small>
                
            </div>            
            <div class="col s12 m4" style="margin-bottom: 1px;">
                
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Killing Spree greater than 15" style="color: #DFBF93; border: 1px #374730 solid;max-width: 113px;" data-tooltip-id="d7443cbf-ffde-c21f-a6bb-cf4993666176">
                    Army Of One
                    <i class="fa fa-diamond" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px; color: #5F523C;"></i>
                </div>
                <br> <small> Killing Spree greater than 15</small>
            </div> 

            </div>
            
            <div class="row">

            <div class="col s12 m4" style="margin-bottom: 1px;">
                
                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Killing Spree greater than 20" style="color:  #009EF9; border: 1px  #00FEFC solid;max-width: 100px;" data-tooltip-id="5f3b02fc-afa9-f951-4d09-65a9a010b2eb">
                    Trials God
                    <i class="fa fa-star" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px; color: #212121;"></i>
                </div>
                <br> <small> Killing Spree greater than 20</small>
            </div> 

        </div>
        <div class="row">         
            <div class="col s12 center-align" style="margin-bottom: 1px;">
                   <h5> More to come! Suggestions? Let us know!</h5>
            </div>     
        </div>
</div>
