<% if @player_stat.errors.any? %>
  <article class="message is-danger">
    <div class="message-header">
      <p>The form contains <%= pluralize(@player_stat.errors.count, "error") %>.</p>
      <button class="delete"></button>
    </div>
    <div class="message-body">
      <ul>
        <% @player_stat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </article>
<% end %>