
<div class="row">
  <%= form_for Micropost.new, :html => {:class => "col s12"}, remote: true do |f| %>

    <div class="input-field col s4">
        <label class="gametype-label" style="top: -25px;">Gametype</label>
        <%= f.select :game_type, ["Trials of Osiris", "Wrath of the Machine", "King's Fall", "Crota's End", "Vault of Glass", "Nightfall"], {}, { id: "game-select" } %>
       
    </div>

    <div class="input-field col s4">
        <div class="switch" id="difficulty">
            <label style="color: #212144;">
                Normal
                <input type="checkbox" class="checkbox" value="1" name="micropost[raid_difficulty]" id="micropost_raid_difficulty"> 
                <span class="lever"></span>
                Hard        
              </label>
          </div>
    </div>

    <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <%= f.text_area :content, class: "materialize-textarea", id: "icon_prefix2", placeholder: "Message...", "data-length" => '50' %>
          </div>
        </div>

    </div>

      <%= f.submit "Post", class: "btn waves-effect waves-light" %>
    <% end %>
</div>
<hr>