<%= form_for(@micropost) do |f| %>
  <div class="field">
    <p class="control">
     <%= f.text_area :content, class: "textarea", placeholder: "Compose new micropost..." %>
    </p>
  </div>
  <p class="control">
        <%= f.submit "Post", class: "button is-primary" %>
    </p>
<% end %>

<hr>    
