<div class="container profile-page">
  <div class="section profile-heading">
    <div class="columns">
      <div class="column is-2 is-hidden-mobile">
        <div class="image is-128x128 avatar">

          <%= image_tag( current_user["profile_picture"])%>

        </div>
      </div>
      <div class="column is-4 name white-text">
        <div class="columns is-flex-mobile">
          <div class="column center white-text">
            Gun Game<br/>
            <span class="tag is-primary">Sniper</span><br/>
            <span class="tag is-info">Marksman</span> <br/>

          </div>
          <div class="column center white-text">
            Play Style<br/>
            <span class="tag is-primary">Camper</span><br/>
            <span class="tag is-info">Sticky Nades</span> <br/>
            <span class="tag is-success">Clutch</span><br/>

          </div>
          <div class="column center white-text">
            Trials<br/>
            <span class="tag is-primary"> Sherpa </span><br/>
            <span class="tag is-success">Card Resets</span><br/>
            <span class="tag is-warning"> Top 100 </span>
          </div>
        </div>
      </div>
      <div class="column is-2 followers has-text-centered white-text">
        <p class="stat-val">129</p>
        <p class="stat-key">followers</p>
      </div>
      <div class="column is-2 following has-text-centered white-text">
        <p class="stat-val">17</p>
        <p class="stat-key">following</p>
      </div>
      <hr/>
      <div class="column is-2 likes has-text-centered white-text">
        <p class="stat-val">

        </p>
        <p class="stat-key"></p>
      </div>
    </div>
  </div>
</div>