<div class="row">
    <div class="col s12 center-align" style=" background: #F7CE3C; color: #212121; font-weight: 600;border-radius: 4px;height: 25px;">Heads up! This page isn't complete yet, so this data isn't real. </div>    
</div>