<br>
<div class="row">
    <div class="col s12 center-align" style=" background: #F7CE3C; color: #212121; font-weight: 600;border-radius: 4px;height: 25px;">Heads up! This page isn't complete yet, so this data isn't real. </div>    
</div>
<table class="responsive-table bordered centered">
    <thead>
        <tr>
                <th>Raid</th>
                <th>Kills</th>
                <th>Deaths</th>
                <th>Completions</th>
                <th>Fastest Completed</th>
        </tr>
            
    </thead>
    <tbody>
            <tr>
                <td>Wrath of the Machine - Hard</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Wrath of the Machine - Normal</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>King's Fall - Hard</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Crota's End - Hard</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Crota's End - Normal</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Vault of Glass - Hard</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Vault of Glass - Normal</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
    </tbody>

</table>