RAIDS

<table>
    <thead>
        <tr>
                <th>Raid</th>
                <th>Kills</th>
                <th>Deaths</th>
                <th>Completions</th>
                <th>Fastest Completed</th>
        </tr>
            
    </thead>
    <tbody>
            <tr>
                <td>Name</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
    </tbody>

</table>