<% content_for :head do %>
<meta charset="UTF-8">
<meta name="description" content="FAQ | Destinder">
<% end %>


<div class="row ">
     
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">arrow_drop_down_circle</i>What is Destinder?</div>
      <div class="collapsible-body">
        <span>Destinder is LFG for the elite. Say goodbye to blind and hopeful fireteam invites. As a Bungie authenticated and validated user, your stats will automatically be included with your post. We've also included individual and team stat lookups for various game types, just to make your life easier.</span>
        <span>Destinder started as a small project amongst some friends to learn to program. We ended up building in some sweet features and thought we would share! As fairly inexperienced developers, we are very open to any and all feedback! Please contact us with any thoughts you may have!</span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down_circle</i>What makes Destinder Different?</div>
      <div class="collapsible-body"><span>Many of our features can be found on other sites, but we've attempted to combine some of the most common ones in a single location. We've integrated LFG, stat lookups, player reputation rankings, progress checking, and many more convenient features - all with the purpose of helping you improve your Destiny experience.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down_circle</i>What are you working on?</div>
      <div class="collapsible-body">
        <span>
          We are always actively working on improving the site, especially with your feedback. Here is what we are currently planning for the near future (More information can be found on <a href="https://github.com/destiny-aviato/destinder">Github</a>):
          <br><br>
          <ul style="margin-left: 6%;">
            <li style="list-style-type: square;">More robust post options including character selection, mic restrictions, checkpoints, and more!</li>
            <li style="list-style-type: square;">Badge system improvements (Always open to suggestions for more!)</li>
            <li style="list-style-type: square;">Historical stat data (week, year, map/location, etc.)</li>
            <li style="list-style-type: square;">Team tagging in LFG posts</li>
            <li style="list-style-type: square;">Integrated Carry system you can trust - no more sketchy paypal payments</li>
            <li style="list-style-type: square;">More robust statistics overall</li>
            <li style="list-style-type: square;">More to come!</li>
          </ul>
        </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down_circle</i>How can I help?</div>
      <div class="collapsible-body"><span>As an open source project and as a bunch of noobs, we welcome any help we can get! If you have suggestions on design, features, functionality, or anything else, please feel free to contribute! More detailed information can be found on <a href="https://github.com/destiny-aviato/destinder">Github.</a></span></div>
    </li>
  </ul>

</div>






    </div><!--End of Row 1  -->



















    