<div class="row" style="padding-top: 10%;">
<div class="col s12">
<p>Overall Player Badges</p>

<div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Currently Streaming on Twitch" style="background-color:#4B367C; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-video-camera" aria-hidden="true"></i>
    Streamer
  </div>

  <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Top 1% in ELO" style="background-color: #E8E6E8; color: red; max-width: 110px; min-width: 110px;">
    <i class="fa fa-star" aria-hidden="true"></i>
    ELO Master
  </div>

  <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Above 90% Player Reputation" style="background-color: red; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    Beloved
  </div>

  <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Below 40% Player Reputation" style="background-color: black; color: grey; max-width: 110px; min-width: 110px;">
    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    Despised
  </div>


</div>


<div class="col s12">

<p>Weapon Badges</p>
  <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Weapon Type exceeds 40% of total Kills" style="background-color: black; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-crosshairs" aria-hidden="true"></i>
    Sniper
  </div>

   <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Weapon Type exceeds 40% of total Kills" style="background-color: black; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-crosshairs" aria-hidden="true"></i>
    Shotgun
  </div>


   <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Weapon Type exceeds 40% of total Kills" style="background-color: black; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-crosshairs" aria-hidden="true"></i>
    Sidearm
  </div>


   <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Weapon Type exceeds 40% of total Kills" style="background-color: black; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-crosshairs" aria-hidden="true"></i>
    Fusion Rifle
  </div>


   <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Weapon Type exceeds 40% of total Kills" style="background-color: black; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-crosshairs" aria-hidden="true"></i>
    Scout Rifle
  </div>

   <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Weapon Type exceeds 40% of total Kills" style="background-color: black; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-crosshairs" aria-hidden="true"></i>
    Pulse Rifle
  </div>

     <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Weapon Type exceeds 40% of total Kills" style="background-color: black; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-crosshairs" aria-hidden="true"></i>
    Hand Cannon
  </div>

  <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Weapon Type exceeds 40% of total Kills" style="background-color: black; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-crosshairs" aria-hidden="true"></i>
    Auto Rifle
  </div>

</div>









<div class="col s12">

<p>Accomplishments</p>

  <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Revived twice as many guardians than being revived themselves" style="background-color: red; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-plus-square" aria-hidden="true"></i>
    Team Medic
  </div>

    <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Has a 'Longest Spree' of 10 or more" style="background-color: #1E9E74; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-money" aria-hidden="true"></i>
    Fight Forever
  </div>

</div>




<div class="col s12">

<p>Play style Badges</p>

  <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ability Kills account for more than 20% of total kills" style="background-color: #18FF1A; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-superpowers" aria-hidden="true"></i>
    Super Man
  </div>

<div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Has a 'Precision Kills are above 35% of total kills" style="background-color: #CEAE33; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
    Marksman
  </div>

  <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Average Kill Distance is above 25m" style="background-color: #26A69A; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-frown-o" aria-hidden="true"></i>
    Camper
  </div>

  <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Average Kill Distance is below 20m" style="background-color: #26A69A; color: white; max-width: 110px; min-width: 110px;">
    <i class="fa fa-heart" aria-hidden="true"></i>
    Rusher
  </div>


</div>
