

<div class="home-header-text">
  <h1 class="center-align" id="home-header" style="font-weight: 500;">DESTINDER</h1>
  <h4 class="center-align" style="font-weight: 300;">Bug Tracker and Feature Enhacements</h4>
  <hr>
</div>


<div class="row"></div>
<div class="row">
<div class="col s4 offset-s4 center-align"><a class="waves-effect waves-light btn modal-trigger" href="#modal1" style="max-width: 210px; min-width: 210px;">Report A Bug</a> <a class="waves-effect waves-light btn modal-trigger" href="#modal2" style="max-width: 210px; min-width: 210px;">Feature Request</a></div>
</div>

 <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="center-align" style="color: #1E1E1E;">New Bug</h4>
      
      <form class="col s12">
      <div class="row">
        <div class="input-field col s8">

          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Bug Title</label>
        </div>

        <div class="input-field col s12">
    
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Bug Description</label>
        </div>
      </div>
    </form>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>




   <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4 class="center-align" style="color: #1E1E1E;">Feature Request</h4>
      
      <form class="col s12">
      <div class="row">
        <div class="input-field col s8">

          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Feature Title</label>
        </div>

        <div class="input-field col s12">
    
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Feature Description</label>
        </div>
      </div>
    </form>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>



<div class="row"></div>
<br>
<br>


<div class="row">

<div class="col s10 offset-s1">

<table class="striped">
        <thead>
          <tr>
              <th class="center-align">ID #</th>
              <th>Description</th>
              <th class="center-align">Category</th>
              <th class="center-align">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="center-align">308</td>
            <td class="truncate">ELO Tooltip ranking showing the same for multiple users and is inconsistent.</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: blue;'>Development</td>
          </tr>
          <tr>
            <td class="center-align">305</td>
            <td class="truncate">"Similar" Filter on posts page should auto filter for +/- 200 ELO and +/- .2kd</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: orange;'>Investigating</td>
          </tr>
          <tr>
            <td class="center-align">309</td>
            <td class="truncate">unable to switch characters on LFG page. Stuck on character with original post even after delete/ refresh</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: orange;'>Investigating</td>
          </tr>
          <tr>
            <td class="center-align">323</td>
            <td class="truncate">Subclass text overlaps into character emblem below it (Mobile)</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: blue;'>Development</td>
          </tr>
          <tr>
            <td class="center-align">318</td>
            <td class="truncate">Slide out nav not closing properly when clicking outside</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: orange;'>Investigating</td>
          </tr>
          <tr>
            <td class="center-align">315</td>
            <td class="truncate">crucible playlist LFG post brings in Raid stats</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: red;'>Shelved</td>
          </tr>
          <tr>
            <td class="center-align">299</td>
            <td class="truncate">Dual platform accounts unable to see stats</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: orange;'>Investigating</td>
          </tr>
          <tr>
            <td class="center-align">298</td>
            <td class="truncate">non-exotic armor slot is null</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: blue;'>Development</td>
          </tr>
          <tr>
            <td class="center-align">303</td>
            <td class="truncate">Player Tagging on LFG posts</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: blue;'>Development</td>
          </tr>
          <tr>
            <td class="center-align">302</td>
            <td class="truncate">Clan Recruitment</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: purple;'>Gathering Info</td>
          </tr>
          <tr>
            <td class="center-align">300</td>
            <td class="truncate">Twitch Account Integration</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: purple;'>Gathering Info</td>
          </tr>
          <tr>
            <td class="center-align">307</td>
            <td class="truncate">Re-Tooling the Filter and New Posts button on LFG page</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: purple;'>Gathering Info</td>
          </tr>
          <tr>
            <td class="center-align">306</td>
            <td class="truncate">Verbiage change for Sherpa/ Sherpee to "Looking to Carry" and "Looking to be Carried"</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: blue;'>Development</td>
          </tr>
          <tr>
            <td class="center-align">301</td>
            <td class="truncate">Follow System</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: purple;'>Gathering Info</td>
          </tr>
        </tbody>
      </table>





<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>




</div>
</div>