<div class="home-header-text">
    <h1 class="center-align" id="home-header" style="font-weight: 500;">OOPS!</h1>
    <h4 class="center-align" style="font-weight: 300;">Something went wrong! Please let us know what you were trying to do!</h4>
  </div>
    
  <div class="container" style="width: 100%">
    <section class="hero is-medium is-dark is-bold post-header-background" style="height: 150px;">
        <div class="hero-body">
            <div class="container" style="width: 80%">
            </div>
        </div>
    </section>
  </div>
  
  <div class="container" style="width: 80%; padding-top: 5%;">
    <div class="row">
      <div class="col s12 m6 l4">
      </div>          
      <div class="col s12 m6 l4">
        <a href="mailto:destinyaviato+help@gmail.com">
            <div class="card-panel z-depth-2 hoverable" >
                <span class="black-text">
                    <center><i class="medium material-icons" style="color: #88BBD6;">mail</i></center>
                    <p class="center-align" style="font-size: 18px;"><%= "Contact Us" %></p> 
                </span>
              </div>
        </a>
      </div>          
      <div class="col s12 m6 l4">
      </div>          
    </div>
  </div>        