<div class="container">
    <%= react_component 'Testing' %>
    <div id="testing"></div>
    
    <h2 class="tooltip" title="This is my span's tooltip message!">Tooltip test</h2>
    <span class="tooltip" data-tooltip-content="#tooltip_content">This span has a tooltip with HTML when you hover over it!</span>
    
    <div class="tooltip_templates">
        <span id="tooltip_content">
            <table>
                <th>One</th>
                <th>Two</th>
                <th>Three</th>
                <tr>
                   <td>test</td>
                   <td>test</td>
                   <td>test</td>
                </tr>
            </table>
        </span>
    </div>
    
    <div class="row">
    <div class="col s12 m6 l4">
            <div id="136">
                <div class="card-panel grey lighten-5 z-depth-1 hoverable" style="max-height: 400px;">
                        <div class="post-header" style="background-image: url(https://www.bungie.net//common/destiny_content/icons/f341ac82eda0ff3ed941e4b83d01b5a0.jpg);">
                            <div class="row" style="overflow: hidden; max-height: 65px; ">
                                <div class="col s3 left-align" style="padding: 0; height: 65px;"><img style="max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" src="https://www.bungie.net//common/destiny_content/icons/473071c89230e751f8e1e6d4d6bc6129.jpg" alt="473071c89230e751f8e1e6d4d6bc6129"></div>
                                <div class="col s6 center-align" style="height: 65px; color: white;"><a style="font-size: 1.5em; text-overflow: ellipsis; color: #f5f5f5; position: relative; top: 25%; font-weight: 400;" href="/users/1">Luminusss</a></div>
                                <div class="col s3 center-align" style="height: 65px; color: white;">
                                    <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ 397 </span>
                                    <span style="font-weight: 300; font-size: 0.9em;">Hunter</span>
                                </div>
                            </div>
                        </div>
                    <div class="card-content" style="padding-top: 25px;">
                        <br>
                         
                        <span>
                            <b>Trials of Osiris </b>
                            <br><small> about 6 hours ago</small>
                        </span>
                    
    
    
                    <br><br>    
                    <div class="row valign-wrapper">
                        <!-- <div class="col s2">
                            <img class="circle responsive-img" style="margin-left: -50%;" src="https://www.bungie.net//img/profile/avatars/bungie_day_15_27.jpg" alt="Bungie day 15 27" />
                        </div> -->
                        <div class="col s12">
                                <span class="black-text truncate" style="margin-left: -6%;">
                                    test
                                </span>
                        </div>
                    </div>
                        <div class="card-tabs">
                            <ul class="tabs post post-tabs" style="background-image: url(/assets/void-03712f4c0cbc4829d4d11297a2bcc76c6ac41129d36bf0dec5e7e75a026ebdf4.png);">
                                <li class="tab post"><a href="#136-yearly" class="tab-card-link active" style="color: #f5f5f5; font-size: 14px; text-shadow: none;">Year</a></li>
                                <li class="tab post disabled tooltipped" data-position="top" data-delay="50" data-tooltip="Coming soon!" data-tooltip-id="45fb42ed-2e63-e1a8-6660-bbeeee2f3d5e"><a href="#136-weekly" class="tab-card-link" style="color: #f5f5f5; font-size: 14px; text-shadow: none;">Week</a></li>
                                <li class="tab post disabled tooltipped" data-position="top" data-delay="50" data-tooltip="Coming soon!" data-tooltip-id="75fcd8ed-1322-fec4-4618-e557e96a7fa4"><a href="#136-map" class="tab-card-link" style="color: #f5f5f5; font-size: 14px; text-shadow: none;">Map</a></li>
                            <li class="indicator" style="right: 182px; left: 0px;"></li></ul>
                        </div>
                        <div class="card-content grey lighten-4">
                            <div id="136-yearly" class="active">
    
                                    <table class="table centered highlight">
                                        <thead>
                                            <tr>
                                                <th>K/D</th>
                                                <th>KA/D</th>
                                                <th>Win Rate</th>
                                                <th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" data-tooltip-id="725be509-3d13-692f-19ea-a03396164518">
                                                    ELO  <i class="fa fa-question-circle"></i>
                                                </th>
                                            </tr>
                                        </thead>
                                
                                        <tbody>
                                            <tr>
                                                <td>1.18</td>
                                                <td>1.64</td>
                                                <td>76%</td>
                                                <td>
                                                    1332
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
    
                            <div id="136-weekly" style="display: none;">
                                    <table class="table centered highlight">
                                        <thead>
                                            <tr>
                                                <th>K/D</th>
                                                <th>KA/D</th>
                                                <th>Win Rate</th>
                                                <th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" data-tooltip-id="b0e28516-b71c-2d98-d089-06e5954bfb39">
                                                    ELO  <i class="fa fa-question-circle"></i>
                                                </th>
                                            </tr>
                                        </thead>
                                
                                        <tbody>
                                            <tr>
                                            <td>1.18 W</td>
                                            <td>1.64 W</td>
                                            <td>76% W</td>
                                            <td>1332 W</td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div id="136-map" style="display: none;">
                                    <table class="table centered highlight">
                                        <thead>
                                            <tr>
                                                <th>K/D</th>
                                                <th>KA/D</th>
                                                <th>Win Rate</th>
                                                <th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" data-tooltip-id="89629df8-8fd8-9213-6309-6b4c7e81c008">
                                                    ELO  <i class="fa fa-question-circle"></i>
                                                </th>
                                            </tr>
                                        </thead>
                                
                                        <tbody>
                                            <tr>
                                            <td>1.18 M</td>
                                            <td>1.64 M</td>
                                            <td>76% M</td>
                                            <td>1332 M</td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    <br> 
                    <!-- <div class="row" style="margin-bottom: 5px;">
                            <div class="chip tooltipped" style='color: #FAFAFA; background-color: #51de90; padding: 0 0px 0 8px;' data-position="top" data-delay="50" data-tooltip="Donated at least $5!">
                              <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;">attach_money</i>
                            </div>                
                            <div class="chip tooltipped" style='color: #FAFAFA; background-color: #026670; padding: 0 0px 0 8px;' data-position="top" data-delay="50" data-tooltip="One of the first 250 users on the site!">
                              <i class="fa fa-first-order" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;"></i>
                            </div>                
                    </div> -->
                    
                    <div class="row">
                            <div class="col s4 left-align">
                                <a target="_blank" href="/microposts">
                                <span class="icon">
                                    <i class="fa fa-envelope"></i>
                                </span>
    </a>                    </div>
                        <div class="col s4 center-align tooltipped" data-position="top" data-delay="50" data-tooltip="Player Reputation Score (1 votes)" data-tooltip-id="31e7c296-8312-be03-e3fa-942380540ee7">                            
                            100.0%
                        </div>
                        <div class="col s4 right-align">
                                <a data-confirm="Are you sure?" data-remote="true" rel="nofollow" data-method="delete" href="/microposts/136">
                                    <span class="icon">
                                    <i class="fa fa-trash"></i>
                                    </span>
    </a>                    </div>
                    </div>
                    
    
                    </div>
                    <div class="post-footer" style="background:black;">
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    
    
    
    <div><!--OPEN FIRST CHARACTER--> 
        <div class="row white z-depth-2">
            <div class="col s12 m3 center-align background-trials-1">
                <div class="row" style="margin-top:-8.5%; margin-left:4%;">
                    <div class="hlighten-5 z-depth-1 hoverable center-align" style="max-height: 400px; max-width: 228px;">
                        <div class="post-header" style="background-image: url(https://www.bungie.net/common/destiny_content/icons/f341ac82eda0ff3ed941e4b83d01b5a0.jpg);">
                            <div class="row" style="overflow: hidden; max-height: 65px; ">
                                <div class="col s12 m3 left-align" style="padding: 0; height: 65px;"><img style="max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" src="https://www.bungie.net/common/destiny_content/icons/473071c89230e751f8e1e6d4d6bc6129.jpg" alt="473071c89230e751f8e1e6d4d6bc6129"></div>
                                <div class="col s12 m6 center-align" style="height: 65px; color: white; margin-top: 8%">Luminusss</div>
                                <div class="col s12 m3 center-align" style="height: 65px; color: white;">
                                    <span style="color: gold; position: relative; top: 15%; line-height: 0.5em; font-weight: 300; font-size: 1.6em; margin-left: -70%;">✦ 397 </span>
                                    <span style="font-weight: 300; font-size: 0.9em; margin-left: -50%;">Hunter</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row" style="margin-top: 20%;">
                <div class="col s6 center-align" style="color: white; font-size: 22px;">1.18 <span style="color:#cc0000;">KD</span></div>
                <div class="col s6 center-align" style="color: white; font-size: 22px;">1332 <span style="color:#cc0000;">ELO</span></div>
            </div>
    
            <div class="row">
                        <div class="col s12 player-reputation-trials center-align" style="color: white; margin-top: 2%;">Player Reputation</div>
                        <div class="col s12 center-align"> 
                                    <a class="waves-effect waves-light btn disabled" rel="nofollow" data-method="post" href="/users/upvote?voter=1">
                                        <i class="material-icons">thumb_up</i>
    </a>
                                    <a class="waves-effect waves-light btn disabled" rel="nofollow" data-method="post" href="/users/downvote?voter=1">
                                        <i class="material-icons ">thumb_down</i>
    </a>                            </div><!--CLOSE COLUMN-->
                        <div class="col s12 center-align" style="color:#cc0000; font-size: 22px;">Nightstalker</div>
                    
                    </div><!--CLOSE ROW-->
    
    
                            
            </div>
    
            <div class="col s12 m9 center-align">
                <div class="row">
                    <div class="col s12 m4 center-align">
                    
                        <table>
                            <tbody><tr>
                                <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="Eyasluna" src="https://www.bungie.net/common/destiny_content/icons/ba90cc208f95a84c7df6f62ef4a43dc3.jpg" alt="" data-tooltip-id="5fa0d04c-6a5a-546e-2fae-4a42d7453465"></div></td>
                                <td style="font-size: 12px;">Eyasluna</td>
                                <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="Graviton Forfeit" src="https://www.bungie.net/common/destiny_content/icons/b8884c519be18376217e3f22d3564f54.jpg" alt="" data-tooltip-id="4f762107-2127-9eba-0032-5cb29e292902"></div></td>
                                <td style="font-size: 12px;">Graviton Forfeit</td>
                            </tr>
                            <tr>
                            <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="Y-09 Longbow Synthesis" src="https://www.bungie.net/common/destiny_content/icons/1dcec566a7842f606cef6b327a9f1450.jpg" alt="" data-tooltip-id="543f0f7e-b584-f27e-d0c6-6f07923fca1b"></div></td>
                                <td style="font-size: 12px;">Y-09 Longbow Synthesis</td>
                                <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="Winged Sun Sleeves" src="https://www.bungie.net/common/destiny_content/icons/cbb1ac2e8be3b16ff9b49766fa653a55.jpg" alt="" data-tooltip-id="b06ce08e-f072-419a-d210-8f3998500c45"></div></td>
                                <td style="font-size: 12px;">Lion's Vigil Strides</td>
                            </tr>
                            <tr>
                                <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="Iron Gjallarhorn" src="https://www.bungie.net/common/destiny_content/icons/e250828d946bf4e248914f7450547b54.jpg" alt="" data-tooltip-id="d899e707-bb64-017d-290f-43fd7fe50d1c"></div></td>
                                <td style="font-size: 12px;">Iron Gjallarhorn</td>
                                <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="Lion's Vigil Vest" src="https://www.bungie.net/common/destiny_content/icons/d90f72a6bf1d879b84dbd3a3fa3038e8.jpg" alt="" data-tooltip-id="80e5005f-36f9-d234-1ded-2c89184455ee"></div></td>
                                <td style="font-size: 12px;">Lion's Vigil Vest</td>
                            </tr>
                        </tbody></table>
                    </div>                                           
    
                    <div class="col s12 m4 offset-m1 center-align">
                        <table style="color:grey;"> 
                            <tbody><tr> 
                                <th></th>
                                <th style="font-size: 12px; color:#cc0000;" class="center-align table-header-trials">Week<hr></th>
                                <th style="font-size: 12px; color:#cc0000;" class="center-align table-header-trials">Map<hr></th>
                            </tr>
                            <tr> 
                                <th style="font-size: 12px;" class="center-align table-header-trials">KD</th>
                                <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                                <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                            </tr>
                            <tr> 
                                <th style="font-size: 12px;" class="center-align table-header-trials">KA/D</th>
                                <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                                <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                            </tr>
                            <tr> 
                                <th style="font-size: 12px;" class="center-align table-header-trials">Wins</th>
                                <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                                <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                            </tr>
                            <tr> 
                                <th style="font-size: 12px;" class="center-align table-header-trials">Losses</th>
                                <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                                <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                            </tr>
                        
    
                            </tbody></table>
    
                    </div>
    
                    <div class="col s12 m3 center-align">
                        <h5 style="color:grey; font-size: 13px;">Badges<hr></h5>
                        <ul>
                            <!-- TODO: Add error handling for players who don't have an account with us -->
                                    <li>
                                        <div class="chip tooltipped" style="color: #FAFAFA; background-color: #51de90;" data-position="top" data-delay="50" data-tooltip="Donated at least $5!" data-tooltip-id="5980d72c-d1ac-45bb-90be-861b633b8c3d">
                                        Donator
                                        <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;">attach_money</i>
                                        </div>  
                                    </li>              
                                    <li>
                                        <div class="chip tooltipped" style="color: #FAFAFA; background-color: #026670;" data-position="top" data-delay="50" data-tooltip="One of the first 250 users on the site!" data-tooltip-id="0463e079-98c3-104a-b4f0-080074f8a44d">
                                        Veteran
                                        <i class="fa fa-first-order" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;"></i>
                                        </div>  
                                    </li>              
                                    <li>
                                        <div class="chip tooltipped" style="color: #FAFAFA; background-color: #FFCC01;" data-position="top" data-delay="50" data-tooltip="Donated at least $100!" data-tooltip-id="32e674b1-9513-bdf8-14a2-f2c3d7e0ffd8">
                                        Sponsor
                                        <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;">attach_money</i>
                                        </div>  
                                    </li>              
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col s1"></div>
        <div class="col s6">
            <ul class="collapsible" data-collapsible="accordion" style="max-width: 170%; width: 337px;">
                <li>
                <div class="collapsible-header" style="height: 104px;">
                        <div class="post-header" style="background-image: url(https://www.bungie.net//common/destiny_content/icons/f341ac82eda0ff3ed941e4b83d01b5a0.jpg); height: 100%; margin: -5.1%; height: 83px;">
                            <div class="row" style="overflow: hidden; max-height: 65px; ">
                                <div class="col s3 left-align" style="padding: 0; height: 65px;"><img style="max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" src="https://www.bungie.net//common/destiny_content/icons/473071c89230e751f8e1e6d4d6bc6129.jpg" alt="473071c89230e751f8e1e6d4d6bc6129"></div>
                                <div class="col s6 center-align" style="height: 65px; color: white;"><span style="font-size: 1.5em; text-overflow: ellipsis; color: #f5f5f5; position: relative; top: 25%; font-weight: 400;" >Luminusss</span></div>
                                <div class="col s3 center-align" style="height: 65px; color: white;">
                                    <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ 397 </span>
                                    <span style="font-weight: 300; font-size: 0.9em;">Hunter</span>
                                </div>
                            </div>
                            <div class="post-subheader" style="position: relative;height: 18px;bottom: 20px;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col s4 left-align" style="white-space: nowrap;">
                                            <span class="white-text" style="font-size: 11px; vertical-align: text-top;">ELO: 1572</span>
                                        </div>
                                        <div class="col s4 center-align" style="white-space: nowrap;">
                                            <span class="white-text" style="font-size: 11px; vertical-align: text-top;">KD: 1.34</span>
                                        </div>
                                        <div class="col s4 right-align" style="white-space: nowrap;">
                                            <span class="white-text" style="font-size: 11px; vertical-align: text-top;">W/L: 74%</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="post-subclass-header" style="height: 20px; position: relative; bottom: 20px; background-position-y: 100px; background-size: cover;background-image: url(/assets/void-03712f4c0cbc4829d4d11297a2bcc76c6ac41129d36bf0dec5e7e75a026ebdf4.png);"></div>
                        </div>
                </div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                <div class="collapsible-header" style="height: 104px;">
                    <div class="post-header" style="background-image: url(https://www.bungie.net//common/destiny_content/icons/f341ac82eda0ff3ed941e4b83d01b5a0.jpg); height: 100%; margin: -5.1%; height: 83px;">
                        <div class="row" style="overflow: hidden; max-height: 65px; ">
                            <div class="col s3 left-align" style="padding: 0; height: 65px;"><img style="max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" src="https://www.bungie.net//common/destiny_content/icons/473071c89230e751f8e1e6d4d6bc6129.jpg" alt="473071c89230e751f8e1e6d4d6bc6129"></div>
                            <div class="col s6 center-align" style="height: 65px; color: white;"><span style="font-size: 1.5em; text-overflow: ellipsis; color: #f5f5f5; position: relative; top: 25%; font-weight: 400;" >Luminusss</span></div>
                            <div class="col s3 center-align" style="height: 65px; color: white;">
                                <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ 397 </span>
                                <span style="font-weight: 300; font-size: 0.9em;">Hunter</span>
                            </div>
                        </div>
                        <div class="post-subheader" style="position: relative;height: 18px;bottom: 20px;">
                            <div class="container">
                                <div class="row">
                                    <div class="col s4 left-align" style="white-space: nowrap;">
                                        <span class="white-text" style="font-size: 11px; vertical-align: text-top;">ELO: 1572</span>
                                    </div>
                                    <div class="col s4 center-align" style="white-space: nowrap;">
                                        <span class="white-text" style="font-size: 11px; vertical-align: text-top;">KD: 1.34</span>
                                    </div>
                                    <div class="col s4 right-align" style="white-space: nowrap;">
                                        <span class="white-text" style="font-size: 11px; vertical-align: text-top;">W/L: 74%</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="post-subclass-header" style="height: 20px; position: relative; bottom: 20px; background-position-y: 100px; background-size: cover;background-image: url(/assets/void-03712f4c0cbc4829d4d11297a2bcc76c6ac41129d36bf0dec5e7e75a026ebdf4.png);"></div>
                    </div>
                </div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                <div class="collapsible-header" style="height: 104px;">
                    <div class="post-header" style="background-image: url(https://www.bungie.net//common/destiny_content/icons/f341ac82eda0ff3ed941e4b83d01b5a0.jpg); height: 100%; margin: -5.1%; height: 83px;">
                        <div class="row" style="overflow: hidden; max-height: 65px; ">
                            <div class="col s3 left-align" style="padding: 0; height: 65px;"><img style="max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" src="https://www.bungie.net//common/destiny_content/icons/473071c89230e751f8e1e6d4d6bc6129.jpg" alt="473071c89230e751f8e1e6d4d6bc6129"></div>
                            <div class="col s6 center-align" style="height: 65px; color: white;"><span style="font-size: 1.5em; text-overflow: ellipsis; color: #f5f5f5; position: relative; top: 25%; font-weight: 400;" >Luminusss</span></div>
                            <div class="col s3 center-align" style="height: 65px; color: white;">
                                <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ 397 </span>
                                <span style="font-weight: 300; font-size: 0.9em;">Hunter</span>
                            </div>
                        </div>
                        <div class="post-subheader" style="position: relative;height: 18px;bottom: 20px;">
                            <div class="container">
                                <div class="row">
                                    <div class="col s4 left-align" style="white-space: nowrap;">
                                        <span class="white-text" style="font-size: 11px; vertical-align: text-top;">ELO: 1572</span>
                                    </div>
                                    <div class="col s4 center-align" style="white-space: nowrap;">
                                        <span class="white-text" style="font-size: 11px; vertical-align: text-top;">KD: 1.34</span>
                                    </div>
                                    <div class="col s4 right-align" style="white-space: nowrap;">
                                        <span class="white-text" style="font-size: 11px; vertical-align: text-top;">W/L: 74%</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="post-subclass-header" style="height: 20px; position: relative; bottom: 20px; background-position-y: 100px; background-size: cover;background-image: url(/assets/void-03712f4c0cbc4829d4d11297a2bcc76c6ac41129d36bf0dec5e7e75a026ebdf4.png);"></div>
                    </div>
                </div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
        <div class="col s5"></div>
        

    </div>