<% content_for :head do %>
<meta charset="UTF-8">
<meta name="description" content="FAQ | Destinder">
<% end %>

<body>
<% if !current_user %>
<%= link_to "Sign in with Bungie", user_bungie_omniauth_authorize_path %>
<% else %>
<body data-gr-c-s-loaded="true">

<div class="parralax-1 hide-on-small-only">
<div class="logo-name align-right right-align">What is Destinder?<br/><%= image_tag 'destiny-logo.png', class:"nav-logo" %></div>


</div>

<div class="row ">
     
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active"><i class="material-icons">arrow_drop_down</i>What is Destinder?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>How do I use it?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>What makes it different from other LFG sites?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

</div>






    </div><!--End of Row 1  -->



















       







<% end %>