<div class="home-header-text">
  <h1 class="center-align" id="home-header" style="font-weight: 500;">DESTINDER</h1>
  <h4 class="center-align" style="font-weight: 300;">LFG for the <span id="home-subtitle" style="font-weight: 200;">elite</span></h4>
</div>
  
<div class="container" style="width: 100%">
  <section class="hero is-medium is-dark is-bold post-header-background" style="height: 150px;">
      <div class="hero-body">
          <div class="container" style="width: 80%">
          </div>
      </div>
  </section>
</div>

<div class="container" style="width: 80%; padding-top: 5%;">
  <div class="row">
    <div class="col s12 m3">
      <%= link_to microposts_path do %>
          <div class="card-panel z-depth-2 hoverable" >
              <span class="black-text">
                  <center><i class="medium material-icons" style="color: #88BBD6;">message</i></center>
                  <p class="center-align" style="font-size: 18px; white-space: nowrap;">LFG</p> 
              </span>
            </div>
      <% end %>
    </div>
    <div class="col s12 m3">
      <a class="modal-trigger" href="#team-search-modal">
        <div class="card-panel z-depth-2 hoverable" >
            <span class="black-text">
                <center><i class="medium material-icons" style="color: #88BBD6;">people</i></center>
                <p class="center-align" style="font-size: 18px; white-space: nowrap;">TEAM LOOKUP</p> 
            </span>
          </div>
      </a>
    </div>
    <div class="col s12 m3">
      <%= link_to new_player_stat_path do %>
          <div class="card-panel z-depth-2 hoverable" >
              <span class="black-text">
                  <center><i class="medium material-icons" style="color: #88BBD6;">accessibility</i></center>
                  <p class="center-align" style="font-size: 18px; white-space: nowrap;">PLAYER LOOKUP</p> 
              </span>
            </div>
      <% end %>
    </div>          
    <div class="col s12 m3">
      <%= link_to profile_path do %>
          <div class="card-panel z-depth-2 hoverable" >
              <span class="black-text">
                  <center><i class="medium material-icons" style="color: #88BBD6;">person</i></center>
                  <p class="center-align" style="font-size: 18px; white-space: nowrap;">PROFILE</p> 
              </span>
            </div>
      <% end %>
    </div>          
  </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red modal-trigger" href="#modal1">
      <i class="large material-icons">info</i>
    </a>

    <div id="modal1" class="modal">
    <div class="modal-content" style="color: black;">
      <h2 class="center-align">Welcome to Destinder</h2>
      <br>
      <p>Destinder was started as a fun way for a couple friends to learn how to Code.  We, like many of you, used the popular websites to check stats and find groups but always became frustrated with the gap between them.  Using one website to check stats and another website to find groups seemed silly.  That's where the idea for Destinder was born.  Why not build a site that utilizes the best parts of both?</p>
      <br>
      <h4 style="color: #88BBD6;">LFG</h4>
      <hr>
      <p>Our LFG is completely unigue.  Insead of needing to find your stats and paste them into your LFG post, your stats are automatically brought in.  The goal was "One Click Posting" and we feel we got as close as possible.  The other advantage to this is that you never need to worry if people are lying about their stats.  Everything is pulled straight from Bungie.<p>
      <br>
      <h4 style="color: #88BBD6;">Team Stats</h4>
      <hr>
      <p>Again, our flare on what we feel is important to the players.  A quick overview of the opposing team when wanted and expandable, excess stats when needed.  In addition to the typical content of loadouts and player stats, we introduced an Account Badge system and a Player Analysis Badge system</p>
    </div>
  </div>

