<div class="home-header-text">
  <h1 class="center-align" id="home-header" style="font-weight: 500;">DESTINDER</h1>
  <h4 class="center-align" style="font-weight: 300;">LFG for the <span id="home-subtitle" style="font-weight: 200;">elite</span></h4>
</div>
  
<div class="container" style="width: 100%">
  <section class="hero is-medium is-dark is-bold post-header-background" style="height: 150px;">
      <div class="hero-body">
          <div class="container" style="width: 80%">
          </div>
      </div>
  </section>
</div>

<div class="container" style="width: 80%; padding-top: 5%;">
<br>
  <br>
  <div class="row">
    <div class="col s12 m3">
      <%= link_to microposts_path do %>
          <div class="card-panel z-depth-2 hoverable" >
              <span class="black-text">
                  <center><i class="medium material-icons" style="color: #88BBD6;">message</i></center>
                  <p class="center-align" style="font-size: 18px; white-space: nowrap;">LFG</p> 
              </span>
            </div>
      <% end %>
    </div>
    <div class="col s12 m3">
      <a class="modal-trigger" href="#team-search-modal">
        <div class="card-panel z-depth-2 hoverable" >
            <span class="black-text">
                <center><i class="medium material-icons" style="color: #88BBD6;">people</i></center>
                <p class="center-align" style="font-size: 18px; white-space: nowrap;">TEAM LOOKUP</p> 
            </span>
          </div>
      </a>
    </div>
    <div class="col s12 m3">
      <%= link_to new_player_stat_path do %>
          <div class="card-panel z-depth-2 hoverable" >
              <span class="black-text">
                  <center><i class="medium material-icons" style="color: #88BBD6;">accessibility</i></center>
                  <p class="center-align" style="font-size: 18px; white-space: nowrap;">PLAYER LOOKUP</p> 
              </span>
            </div>
      <% end %>
    </div>          
    <div class="col s12 m3">
      <%= link_to profile_path do %>
          <div class="card-panel z-depth-2 hoverable" >
              <span class="black-text">
                  <center><i class="medium material-icons" style="color: #88BBD6;">person</i></center>
                  <p class="center-align" style="font-size: 18px; white-space: nowrap;">PROFILE</p> 
              </span>
            </div>
      <% end %>
    </div>          
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div class="parallax-container">
      <div class="parallax"><img src="https://cdn4.twinfinite.net/wp-content/uploads/2017/07/05_Preview.jpg"></div>
    </div>

    <div class="container" style="width: 80%; padding-top: 5%;">
  <div class="row">
  <div class="col s12 center-align">
    <h1 class="center-align" id="home-header" style="font-weight: 500;">Social Media</h1>
    <hr>
    <br>

  </div><!--Close Col-->
  <br>

<div class="col s12 m6"><a class="twitter-timeline" data-height="760" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/Destinderdotcom">Tweets by Destinderdotcom</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
<div class="col s12 m6"><blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BY8RxR3AX_D/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Introducing fire team tagging! Now you can include the stats of other members in your fire team with your posts. Your team must have a destinder.com account in order to be included. Check it out now! #destiny #destiny2 #destinyhype</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Destinder LFG (@destinderdotcom) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-09-12T12:59:25+00:00">Sep 12, 2017 at 5:59am PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script></div>
  </div><!--Close Row-->
  </div><!--Close Container-->




<div class="parallax-container">
      <div class="parallax"><img src="https://www.gamewallpapers.com/img_script/wallpaper_dir/img.php?src=wallpaper_destiny_2_05_2560x1080.jpg&height=506"></div>
    </div>





  <div class="home-header-text">
  <h1 class="center-align" id="home-header" style="font-weight: 500;">DESTINDER</h1>
  <h4 class="center-align" style="font-weight: 300;">Bug Tracker and Feature Enhacements</h4>
  <hr>
</div>


<div class="row"></div>
<div class="row">
<div class="col s4 offset-s4 center-align"><a class="waves-effect waves-light btn modal-trigger" href="#modal1" style="max-width: 210px; min-width: 210px;">Report A Bug</a> <a class="waves-effect waves-light btn modal-trigger" href="#modal2" style="max-width: 210px; min-width: 210px;">Feature Request</a></div>
</div>

 <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="center-align" style="color: #1E1E1E;">New Bug</h4>
      
      <form class="col s12">
      <div class="row">
        <div class="input-field col s8">

          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Bug Title</label>
        </div>

        <div class="input-field col s12">
    
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Bug Description</label>
        </div>
      </div>
    </form>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>




   <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4 class="center-align" style="color: #1E1E1E;">Feature Request</h4>
      
      <form class="col s12">
      <div class="row">
        <div class="input-field col s8">

          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Feature Title</label>
        </div>

        <div class="input-field col s12">
    
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Feature Description</label>
        </div>
      </div>
    </form>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>



<div class="row"></div>
<br>
<br>


<div class="row">

<div class="col s10 offset-s1">

<table class="striped">
        <thead>
          <tr>
              <th class="center-align">ID #</th>
              <th>Description</th>
              <th class="center-align">Category</th>
              <th class="center-align">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="center-align">308</td>
            <td class="truncate">ELO Tooltip ranking showing the same for multiple users and is inconsistent.</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: blue;'>Development</td>
          </tr>
          <tr>
            <td class="center-align">305</td>
            <td class="truncate">"Similar" Filter on posts page should auto filter for +/- 200 ELO and +/- .2kd</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: orange;'>Investigating</td>
          </tr>
          <tr>
            <td class="center-align">309</td>
            <td class="truncate">unable to switch characters on LFG page. Stuck on character with original post even after delete/ refresh</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: orange;'>Investigating</td>
          </tr>
          <tr>
            <td class="center-align">323</td>
            <td class="truncate">Subclass text overlaps into character emblem below it (Mobile)</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: blue;'>Development</td>
          </tr>
          <tr>
            <td class="center-align">318</td>
            <td class="truncate">Slide out nav not closing properly when clicking outside</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: orange;'>Investigating</td>
          </tr>
          <tr>
            <td class="center-align">315</td>
            <td class="truncate">crucible playlist LFG post brings in Raid stats</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: red;'>Shelved</td>
          </tr>
          <tr>
            <td class="center-align">299</td>
            <td class="truncate">Dual platform accounts unable to see stats</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: orange;'>Investigating</td>
          </tr>
          <tr>
            <td class="center-align">298</td>
            <td class="truncate">non-exotic armor slot is null</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: red; max-width: 50px;min-width: 50px;'>Bug</div></td>
            <td class="center-align" style='color: blue;'>Development</td>
          </tr>
          <tr>
            <td class="center-align">303</td>
            <td class="truncate">Player Tagging on LFG posts</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: blue;'>Development</td>
          </tr>
          <tr>
            <td class="center-align">302</td>
            <td class="truncate">Clan Recruitment</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: purple;'>Gathering Info</td>
          </tr>
          <tr>
            <td class="center-align">300</td>
            <td class="truncate">Twitch Account Integration</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: purple;'>Gathering Info</td>
          </tr>
          <tr>
            <td class="center-align">307</td>
            <td class="truncate">Re-Tooling the Filter and New Posts button on LFG page</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: purple;'>Gathering Info</td>
          </tr>
          <tr>
            <td class="center-align">306</td>
            <td class="truncate">Verbiage change for Sherpa/ Sherpee to "Looking to Carry" and "Looking to be Carried"</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: blue;'>Development</td>
          </tr>
          <tr>
            <td class="center-align">301</td>
            <td class="truncate">Follow System</td>
            <td class="center-align"><div class="chip" style='color: white; background-color: blue; max-width: 50px;min-width: 75px;'>Feature</div></td>
            <td class="center-align" style='color: purple;'>Gathering Info</td>
          </tr>
        </tbody>
      </table>





<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>




</div>
</div>
        



<div class="fixed-action-btn hide-on-small-only">
    <a class="btn-floating btn-large modal-trigger pulse" href="#home-modal">
      <i class="large material-icons hide-on-small-only" style="border-radius: 100%;">info</i>
    </a>
</div>

    <div id="home-modal" class="modal">
      <div class="modal-content" style="color: black;">
        <h2 class="center-align">Welcome to Destinder</h2>
        <br>
        <p>Destinder was started as a fun way for a couple friends to learn how to Code.  We, like many of you, used the popular websites to check stats and find groups but always became frustrated with the gap between them.  Using one website to check stats and another website to find groups seemed silly.  That's where the idea for Destinder was born.  Why not build a site that utilizes the best parts of both?</p>
        <br>
        <h4 style="color: #88BBD6;">LFG</h4>
        <hr>
        <p>Our LFG is completely unigue.  Insead of needing to find your stats and paste them into your LFG post, your stats are automatically brought in.  The goal was "One Click Posting" and we feel we got as close as possible.  The other advantage to this is that you never need to worry if people are lying about their stats.  Everything is pulled straight from Bungie.<p>
        <br>
        <h4 style="color: #88BBD6;">Team Stats</h4>
        <hr>
        <p>Again, our flare on what we feel is important to the players.  A quick overview of the opposing team when wanted and expandable, excess stats when needed.  In addition to the typical content of loadouts and player stats, we introduced an Account Badge system and a Player Analysis Badge system</p>
      </div>
  </div>

