<!--<p id="notice"><%= notice %></p>-->

<% if !current_user %>
  <%= link_to "Sign in with Bungie", user_bungie_omniauth_authorize_path %>
<% else %>
   <h2>Welcome, <%= current_user["display_name"] %>! </h2>
<% end %>