<% content_for :head do %>
<meta charset="UTF-8">
<meta name="description" content="Kota was here">
<% end %>

<body>
<% if !current_user %>
<%= link_to "Sign in with Bungie", user_bungie_omniauth_authorize_path %>
<% else %>



<body data-gr-c-s-loaded="true">

<div class="parralax-1"></div>
<br/>

<div class="row"><!--OPEN CHARACTER ROW-->


<div class="col s12 m4"><!--OPEN FIRST CHARACTER--> 

    

          <div class="row"><!--open first row-->
                
              <div class="col s4 valign-wrapper"><!--open first column-->
                  <img class="subclass-icon" src="https://www.bungie.net/common/destiny_content/icons/21bb9c76faa1a77c282311d9776292dd.jpg" alt="">
              
              </div><!--Close first column-->

              <div class="col s8 valign-wrapper"><!--open Second column-->
                      <div class="row">
                          <div class="col s12 gamertag-title center-align valign-wrapper">ii WALZ ii</div>
                          <div class="col s12 class-title center-align valign-wrapper">Hunter</div>
                      </div>
                
        
              
              </div><!--Close Second column-->

            <hr/>

          
          </div><!--Close first row-->

          <div class="row"><!--open tabs row-->
    <div class="col s12"><!--open tabs column-->
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#test1">Stats</a></li>
        <li class="tab col s6"><a href="#test2">Gear</a></li> 
      </ul>
    </div><!--close tabs column-->





    <div id="test1" class="col s12"><!--open tab 1 content-->

<div class="row"><div class="col s12 center-align"><h5>Ability<h5></div></div>

          <div class="row"><!--open Second row-->
              <div class="col s4">
                  <div class="card-panel teal"><!--Ability card open-->
                        <span class="white-text">T5</span>
                  </div><!--Ability card close-->
                    <span class="center-align">Strength</span>  
            </div><!--Column Close-->
              <div class="col s4">
                <div class="card-panel teal"><!--Ability card open-->
                        <span class="white-text">T5</span>
                  </div><!--Ability card close-->
                    <span class="center-align">Discipline</span>      
            </div><!--Column Close-->
              <div class="col s4">
                  <div class="card-panel red"><!--Ability card open-->
                        <span class="white-text">T1</span>
                  </div><!--Ability card close-->
                    <span class="center-align">Intellect</span>
                </div><!--Column Close-->
                  
          </div><!--Close Second row-->

          <div class="row"><!--Open Third Row-->
                <div class="col s12">

                    <div class="card"><!--OPEN KD CARD-->
                        <div class="card-content">
                        <p class="center-align card-title">KD STATS</p>
                        </div><!--CLOSE CARD CONTENT-->
                        <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a href="#test4">WEEK</a></li>
                            <li class="tab"><a class="active" href="#test5">YEAR</a></li>
                            <li class="tab"><a href="#test6">MAP</a></li>
                        </ul>
                        </div><!--CLOSE CARD TABS-->
                        <div class="card-content grey lighten-4">
                        <div id="test4">
                            <table class="table centered highlight">
                                <thead>
                                    <tr>
                                        <th>K/D</th>
                                        <th>KA/D</th>
                                        <th>Win Rate</th>
                                        <th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" data-tooltip-id="74af225b-0e95-edaa-1353-0cdf11361180">
                                            ELO  <i class="fa fa-question-circle"></i>
                                        </th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td>1.14</td>
                                        <td>1.49</td>
                                        <td>56%</td>
                                        <td>
                                            1749
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        
                        </div><!--CLOSE WEEK TAB CONTENT-->
                        <div id="test5">
                        <table class="table centered highlight">
                                <thead>
                                    <tr>
                                        <th>K/D</th>
                                        <th>KA/D</th>
                                        <th>Win Rate</th>
                                        <th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" data-tooltip-id="74af225b-0e95-edaa-1353-0cdf11361180">
                                            ELO  <i class="fa fa-question-circle"></i>
                                        </th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td>1.14</td>
                                        <td>1.49</td>
                                        <td>56%</td>
                                        <td>
                                            1749
                                        </td>
                                    </tr>
                                </tbody>
                            </table>    
                        
                        </div><!--CLOSE YEAR TAB CONTENT-->
                        <div id="test6">
                        <table class="table centered highlight">
                                <thead>
                                    <tr>
                                        <th>K/D</th>
                                        <th>KA/D</th>
                                        <th>Win Rate</th>
                                        <th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" data-tooltip-id="74af225b-0e95-edaa-1353-0cdf11361180">
                                            ELO  <i class="fa fa-question-circle"></i>
                                        </th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td>1.14</td>
                                        <td>1.49</td>
                                        <td>56%</td>
                                        <td>
                                            1749
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div><!--CLOSE MAP TAB CONTENT-->
                        </div><!--CLOSE CARD CONTENT-->
                    </div><!--CLOSE KD CARD-->
                    
                </div><!--close column-->
                
          </div><!--Close Third Row-->

    </div><!--Close tab 1 content-->


    <div id="test2" class="col s12"><!--open tab 2 content-->

        <div class="row"><!--Open first row-->
            <div class="col s12 center-align card-title">Gun Game</div><!--Close Column-->
        </div><!--Close First Row-->
        <div class="row"><!--Open Second row-->
            <div class="col s4 center-align"><img class="gun-icons" src="https://www.bungie.net/common/destiny_content/icons/ba90cc208f95a84c7df6f62ef4a43dc3.jpg" alt=""></div><!--Close Column-->
            <div class="col s4 center-align"><img class="gun-icons" src="https://www.bungie.net/common/destiny_content/icons/39d0a26b64d5de3c12c728542205f156.jpg" alt=""></div><!--Close Column-->
            <div class="col s4 center-align"><img class="gun-icons" src="https://www.bungie.net/common/destiny_content/icons/7fbed59a97d5cf8f6e9649d9b60ad2b1.jpg" alt=""></div><!--Close Column-->
        </div><!--Close Second Row-->
         <div class="row"><!--Open Third row-->
            <div class="col s12 center-align card-title">Gear</div><!--Close Column-->
        </div><!--Close Third Row-->
        <div class="row"><!--Open Fourth row-->
            <div class="col s3 center-align"><img class="gear-icons" src="https://www.bungie.net/common/destiny_content/icons/95e8fab478591aa89c88182817f740ea.jpg" alt=""></div><!--Close Column-->
            <div class="col s3 center-align"><img class="gear-icons" src="https://www.bungie.net/common/destiny_content/icons/db00e23344a772a8a16d453220420d12.jpg" alt=""></div><!--Close Column-->
            <div class="col s3 center-align"><img class="gear-icons" src="https://www.bungie.net/common/destiny_content/icons/af2b3c9cf05ed286fd2e03f9cec97d46.jpg" alt=""></div><!--Close Column-->
            <div class="col s3 center-align"><img class="gear-icons" src="https://www.bungie.net/common/destiny_content/icons/fa949fc17ff2212d3f6d2b6fc0cda253.jpg" alt=""></div><!--Close Column-->
        </div><!--Close Fourth Row-->

        
        <div class="row"><!--Open Fifth Row-->
                <div class="col s12">

                    <div class="card"><!--OPEN KD CARD-->
                        <div class="card-content">
                        <p class="center-align card-title">KD STATS</p>
                        </div><!--CLOSE CARD CONTENT-->
                        <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a class="active" href="#test7">WEEK</a></li>
                            <li class="tab"><a href="#test8">YEAR</a></li>
                            <li class="tab"><a href="#test9">MAP</a></li>
                        </ul>
                        </div><!--CLOSE CARD TABS-->
                        <div class="card-content grey lighten-4">
                        <div id="test7">
                            <table class="table centered highlight">
                                <thead>
                                    <tr>
                                        <th>K/D</th>
                                        <th>KA/D</th>
                                        <th>Win Rate</th>
                                        <th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" data-tooltip-id="74af225b-0e95-edaa-1353-0cdf11361180">
                                            ELO  <i class="fa fa-question-circle"></i>
                                        </th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td>1.14</td>
                                        <td>1.49</td>
                                        <td>56%</td>
                                        <td>
                                            1749
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        
                        </div><!--CLOSE WEEK TAB CONTENT-->
                        <div id="test8">
                        <table class="table centered highlight">
                                <thead>
                                    <tr>
                                        <th>K/D</th>
                                        <th>KA/D</th>
                                        <th>Win Rate</th>
                                        <th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" data-tooltip-id="74af225b-0e95-edaa-1353-0cdf11361180">
                                            ELO  <i class="fa fa-question-circle"></i>
                                        </th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td>1.14</td>
                                        <td>1.49</td>
                                        <td>56%</td>
                                        <td>
                                            1749
                                        </td>
                                    </tr>
                                </tbody>
                            </table>    
                        
                        </div><!--CLOSE YEAR TAB CONTENT-->
                        <div id="test9">
                        <table class="table centered highlight">
                                <thead>
                                    <tr>
                                        <th>K/D</th>
                                        <th>KA/D</th>
                                        <th>Win Rate</th>
                                        <th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" data-tooltip-id="74af225b-0e95-edaa-1353-0cdf11361180">
                                            ELO  <i class="fa fa-question-circle"></i>
                                        </th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td>1.14</td>
                                        <td>1.49</td>
                                        <td>56%</td>
                                        <td>
                                            1749
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div><!--CLOSE MAP TAB CONTENT-->
                        </div><!--CLOSE CARD CONTENT-->
                    </div><!--CLOSE KD CARD-->
                    
                </div><!--close column-->
                
          </div><!--Close Fifth Row-->
    
    
    </div><!--Close tab 2 content-->
    
  </div><!--Close tabs row-->
          
          


</div><!--CLOSE FIRST CHARACTER--> 





<div class="col s12 m4"><!--OPEN SECOND CHARACTER--> 



</div><!--CLOSE SECOND CHARACTER--> 




<div class="col s12 m4"><!--OPEN THIRD CHARACTER--> 



</div><!--CLOSE THIRD CHARACTER--> 


</div><!--CLOSE CHARACTER ROW-->







<% end %>