<body class="body-homepage" style="margin: 0;">
    <div id='hero-homepage'>
    <div class='layer-bg-homepage layer-homepage' data-depth='0.10' data-type='parallax'></div>
    <div class='layer-1-homepage layer-homepage' data-depth='0.20' data-type='parallax'></div>
    <div class='layer-2-homepage layer-homepage' data-depth='0.50' data-type='parallax'></div>
    <div class='layer-3-homepage layer-homepage' data-depth='0.80' data-type='parallax'></div>
    <div class='layer-overlay-homepage layer-homepage' data-depth='0.85' data-type='parallax'></div>
    <div class='layer-4-homepage layer-homepage' data-depth='1.00' data-type='parallax'></div>
  </div>
  <div id='hero-mobile-homepage'></div>
  <div id='content-homepage'>
    <div class='container' style="width: 90%;">
      <section class='first-section-homepage'>
            <div class="row">
                    <div class="col s12 m3">
                        <%= link_to microposts_path do %>
                            <div class="card-panel home-card z-depth-2 hoverable">
                                <span class="card-text">
                          <center><i class="medium material-icons" style="color: #88BBD6;">message</i></center>
                          <p class="center-align" style="font-size: 18px; white-space: nowrap;">LFG</p> 
                      </span>
                            </div>
                            <% end %>
                    </div>
                    <div class="col s12 m3">
                        <a class="modal-trigger" href="#team-search-modal">
                            <div class="card-panel home-card z-depth-2 hoverable">
                                <span class="card-text">
                        <center><i class="medium material-icons" style="color: #88BBD6;">people</i></center>
                        <p class="center-align" style="font-size: 18px; white-space: nowrap;">TEAM LOOKUP</p> 
                    </span>
                            </div>
                        </a>
                    </div>
                    <div class="col s12 m3">
                        <%= link_to new_player_stat_path do %>
                            <div class="card-panel home-card z-depth-2 hoverable">
                                <span class="card-text">
                          <center><i class="medium material-icons" style="color: #88BBD6;">accessibility</i></center>
                          <p class="center-align" style="font-size: 18px; white-space: nowrap;">PLAYER LOOKUP</p> 
                      </span>
                            </div>
                            <% end %>
                    </div>
                    <div class="col s12 m3">
                        <%= link_to profile_path do %>
                            <div class="card-panel home-card z-depth-2 hoverable">
                                <span class="card-text">
                          <center><i class="medium material-icons" style="color: #88BBD6;">person</i></center>
                          <p class="center-align" style="font-size: 18px; white-space: nowrap;">PROFILE</p> 
                      </span>
                            </div>
                            <% end %>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
      </section>
    </div>
  </div>

  
  </body>
  
  