<% content_for :head do %>
  <meta charset="UTF-8">
  <meta name="description" content="Kota was here">
<% end %>

<body>
<% if !current_user %>
    <%= link_to "Sign in with Bungie", user_bungie_omniauth_authorize_path %>

    
<% else %>
    <body data-gr-c-s-loaded="true">








<br/>

<div class="row"><!--START OF ROW-->
      <div class="col s4">

      <div class="card"><!--Crucbile Card-->
    <div class="card-image waves-effect waves-block waves-light card-image">
      <%= image_tag 'crucible_trialsofosiris.png', class:"activator" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Trials Of Osiris<i class="material-icons right">more_vert</i></span>
      <br>
      <div class="row"><!--footer columns-->
        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
        </div>
        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
        </div>
        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
        </div>
      </div><!--End of Footer Columns-->
      
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
      <p>
      <table>
        
          <tr>
              <th>Year KD</th>
              <th>1.9</th>
          
          </tr>
        

        <tbody>
          <tr>
            <td>Week KD</td>
            <td>1.45</td>
            
          </tr>
          <tr>
            <td>ELO</td>
            <td>1750</td>
            
          </tr>
          <tr>
            <td>Streak</td>
            <td>+5</td>
            
          </tr>
        </tbody>
      </table>
      
      
      </p>
    </div>
  </div><!--END OF CARD-->
        
        </div><!--end of col-->


      <div class="col s4">

     <div class="card"><!--Crucbile Card-->
    <div class="card-image waves-effect waves-block waves-light card-image">
      <%= image_tag 'crucible_clash.png', class:"activator" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Clash<i class="material-icons right">more_vert</i></span>
      <br>
      <div class="row"><!--footer columns-->
        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">menu</i></a>
        </div>
        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
        </div>
        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
        </div>
      </div><!--End of Footer Columns-->
      
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
      <p>
      <table>
        
          <tr>
              <th>Year KD</th>
              <th>1.9</th>
          
          </tr>
        

        <tbody>
          <tr>
            <td>Week KD</td>
            <td>1.45</td>
            
          </tr>
          <tr>
            <td>ELO</td>
            <td>1750</td>
            
          </tr>
          <tr>
            <td>Streak</td>
            <td>+5</td>
            
          </tr>
        </tbody>
      </table>
      
      
      </p>
    </div>
  </div><!--END OF CARD-->
      
      </div><!--end of col-->



      <div class="col s4">

      <div class="card"><!--Crucbile Card-->
    <div class="card-image waves-effect waves-block waves-light card-image">
      <%= image_tag 'crucible_control.png', class:"activator" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Zone Control<i class="material-icons right">more_vert</i></span>
      <br>
      <div class="row"><!--footer columns-->
        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">menu</i></a>
        </div>
        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
        </div>
        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
        </div>
      </div><!--End of Footer Columns-->
      
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
      <p>
      <table>
        
          <tr>
              <th>Year KD</th>
              <th>1.9</th>
          
          </tr>
        

        <tbody>
          <tr>
            <td>Week KD</td>
            <td>1.45</td>
            
          </tr>
          <tr>
            <td>ELO</td>
            <td>1750</td>
            
          </tr>
          <tr>
            <td>Streak</td>
            <td>+5</td>
            
          </tr>
        </tbody>
      </table>
      
      
      </p>
    </div>
  </div><!--END OF CARD-->
      
      </div><!--end of col-->

    </div><!--end of Row-->





<script>
        $(document).ready(function(){
          // Init Carousel
          $('.carousel').carousel();

          // Init Carousel Slider
          $('.carousel.carousel-slider').carousel({fullWidth:true});

          // Fire off toast
          //Materialize.toast('Hello World', 3000);

          // Init Slider
          $('.slider').slider();

          // Init Modal
          $('.modal').modal();

          // Init Sidenav
          $('.button-collapse').sideNav();
        });
      </script>


  



   <% end %>         