
<%= link_to "See my Stats", "#", class: "button is-primary" %>
<br>    <br>
<div class="field">
  <label class="label">Search for a player</label>
  <p class="control">
    <input class="input" type="text" placeholder="Text input">
  </p>
</div>


<div class="field is-grouped">
  <p class="control">
    <button class="button is-primary">Submit</button>
  </p>
</div>