
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">mode_edit</i>Post an ad</div>
                <div class="collapsible-body">
                    <%= render 'shared/micropost_form' %>
                </div>
            </li>                
        </ul>
        
        <h3>Recent Posts</h3>
        <ol class="microposts">
            <div class="row posts">
                <% @microposts.each_with_index do |post,index| %>
                    <div class="col s6"><%= render post, cached: true %></div>
                <% end %>
            </div>
        </ol>
        
        <br>    
        <center><%= will_paginate @microposts, renderer: MaterializePagination::Rails,  :page_links => false  %></center>




