
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">mode_edit</i>Post an ad</div>
                <div class="collapsible-body">
                    <%= render 'shared/micropost_form' %>
                </div>
            </li>                
        </ul>
        
        <h3>Recent Posts</h3>
        <ol class="microposts">
            <% @microposts.each_with_index do |post,index| %>
                
                <% if index % 2 == 0 %>
                    <div class="row">
                        <div class="col s6"><%= render post %></div>
                <% else %>
                        <div class="col s6"><%= render post %></div>
                    </div>
                <% end %>
            
            <% end %>
        </ol>
        
        <br>    
        <%= will_paginate @microposts, :page_links => false %>





