/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
@import 'jquery-ui';
@import "materialize/extras/nouislider";
@import 'slick';
@import 'slick-theme';

body {
    margin: 0;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.card-image img {
    height: 250px;
    width: 250px;
    background: #b2dfdb;
}

.card-image2 img {
    height: 250px;
    width: 250px;
    background: #bdbdbd;
}

.slide-fix {
    z-index: 1;
    position: fixed;
    margin-left: 10px;
    top: 2%;
}

.round-image {
    border-radius: 999px;
}

.gamertag-name {
    color: #D1D1D1;
    font-size: 25px;
}

.carousel {
    height: 610px;
    bottom: 100px;
}

.transparent {
    background: transparent;
    border: none;
}

.card {
    width: 120%;
}

.card-width-fix {
    width: 100%!important;
}

[class^="socicon-"],
[class*=" socicon-"] {
    font-size: 30px;
}

.action-button-fix {
    margin-bottom: 60px;
}

.modal-overlay {
    background-color: white;
}

.custom-card {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.featured-video-fix {
    margin-top: 10%;
}

.parralax-1 {
    background-image: url("http://www.biglittlegeek.com/wp-content/uploads/2015/09/destiny-wallpapers-hd-47-1024x640.png");
    min-height: 100%;
}

.parralax-2 {
    background-image: url("http://www.biglittlegeek.com/wp-content/uploads/2015/09/destiny-wallpapers-hd-3-1024x640.jpg");
    min-height: 100%;
}

.parralax-3 {
    background-image: url("http://www.biglittlegeek.com/wp-content/uploads/2015/09/destiny-wallpapers-hd-1-1024x576.jpg");
    min-height: 100%;
}

.parralax-4 {
    background-image: url("https://images4.alphacoders.com/666/thumb-1920-666407.png");
    min-height: 100%;
}

.parralax-5 {
    background-image: url("https://images3.alphacoders.com/716/thumb-1920-716777.jpg");
    min-height: 100%;
}

.parralax-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-left: -33.33%;
    margin-right: -28%;
    max-width: 162%;
}

.parralax-2 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-left: -33.33%;
    margin-right: -28%;
    max-width: 134%;
}

.parralax-1 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    margin-left: -33.33%;
    margin-right: -28%;
    max-width: 140%;
}

.parralax-4 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-left: -33.33%;
    margin-right: -28%;
    max-width: 162%;
}

.parralax-5 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-left: -33.33%;
    margin-right: -28%;
    max-width: 162%;
}

.white-space {
    height: 400px;
}

.logo-name {
    color: white;
    font-size: 71px;
    position: relative;
    padding-top: 100px;
    padding-right: 180px;
}

.nav-logo {
    height: 100px;
    width: 100px;
}

.header-fix {
    margin-top: 30%;
}

.dropdown-content li>span {
    font-size: 16px;
    color: #424242;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.btn:hover,
.btn-large:hover {
    background-color: #2bbbad;
}

.btn,
.btn-large {
    background-color: #26a69a;
}

.collapsible.popout {
    position: relative;
    padding: 5%;
}

.preloader-wrapper.big.active {
    position: relative !important;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: image-url("Preloader_3.gif") center no-repeat #fff;
}

.pagination a li.active {
    color: #fff;
}

table.centered thead tr th,
table.centered tbody tr td {
    text-align: center;
    font-size: 11px;
}

td,
th {
    padding: 10px 5px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

span.black-text {
    word-wrap: break-word;
    font-size: 12px;
}

section {
    display: block;
}

.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero.is-dark {
    margin-top: 0%;
    color: #f5f5f5;
    background-image: linear-gradient(141deg, #1f191a 0%, #363636 71%, #46403f 100%);
}

.hero.is-medium .hero-body {
    padding-bottom: 2rem;
}

ul.tabs {
    z-index: 1;
}

li.tab.post {
    width: 32.3% !important;
}




.tabs {
    background-image: linear-gradient(141deg, #1f191a 0%, #363636 71%, #46403f 100%);
    margin-bottom: 4%;
}

.tabs .tab a.active {
    color: #535353;;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 1px 1px 3px #ffffff;
}

.tabs .tab a {
    color: #535353;;
    // font-size: 11px;
    text-overflow: inherit;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 1px 1px 3px #ffffff;
    
}

.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
    color: rgba(110, 118, 124, 0.7);
    cursor: default;
}

.title.hero {
    color: #f5f5f5;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    margin-left: 9%;
    text-transform: uppercase;    
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25;
    margin-left: 9%;
}

.title,
.subtitle {
    word-break: break-word;
    margin-left: 9%;
}

.hero.is-primary .subtitle {
    color: rgba(255, 255, 255, 0.9);
}

.title:not(.is-spaced)+.subtitle {
    margin-top: -1.5rem;
}

.notification {
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;
    z-index: 1;
}

.notification.is-primary {
    background-color: #00d1b2;
    color: #fff;
}

.notification.is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
}

.notification.is-info {
    background-color: #3273dc;
    color: #fff;
}

.notification.is-success {
    background-color: #23d160;
    color: #fff;
}

.notification.is-danger {
    background-color: #ff3860;
    color: #fff;
}

.notification:not(:last-child) {
    margin-bottom: 1.5rem;
}

.delete {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 1rem;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;
}

.delete:before {
    height: 2px;
    width: 50%;
}

.delete:after {
    height: 50%;
    width: 2px;
}

.delete:before,
.delete:after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.notification>.delete {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.is-hidden {
    display: none !important;
}

.card-panel.grey.lighten-5.z-depth-1.hoverable {
    max-height: 350px;
}

li.tab.card {
    background: transparent;
}

li.tab.post {
    width: 33.3%;
}

a.gamertag-name {
    text-transform: uppercase;
}

.round-image {
    border-radius: 999px;
    width: 140%;
}

.stat-numbers {
    color: #2bbbad;
    font-weight: bold;
    font-size: 40px;
}

.stat-table-headers {
    font-size: 20px;
    color: #2bbbad;
    font-weight: bold;
}

.title {
    font-size: 30px;
    color: #616161;
    font-weight: bold;
}

.round-image2 {
    border-radius: 999px;
    margin-left: auto;
    margin-right: auto;
}

// .modal .modal-content {
//     padding: 5px;
//     width: 85%;
// }
// Slick custom CSS
.scroller {
    div {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.slick-prev::before,
.slick-next::before {
    color: #000;
}

.slick-next {
    right: -25px;
}

.slick-prev {
    left: -25px;
}


/* the slides */

.slick-slide {
    margin: 0 10px;
}


/* the parent */

.slick-list {
    margin: 0 -10px;
}

.container {
    width: 100%;
}

.emblem-icon {
    height: 50px;
    width: 50px;
    border-radius: 999px;
}

.subclass-icon {
    height: 50px;
    width: 50px;
    border-radius: 999px;
    margin-top: 22px;
}

.gamertag-title {
    font-size: 240%;
    color: white;
    position: absolute;
    margin-top: -21%;
    margin-left: 18% !important;
}

.gamertag-title2 {}

.emblem-icon2 {
    position: absolute;
    margin-top: -29%;
    width: 19%;
    margin-left: -4%
}

.class-title {
    font-size: 15px;
    color: #2bbbad;
}

.card-title {
    color: #2bbbad;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

.gun-icons {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
    -moz-box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
    box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
}

.gear-icons {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
    -moz-box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
    box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
}

.kd-title {
    color: #2bbbad;
    font-weight: bold;
    font-size: 30px;
}

.homepage-images {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
    -moz-box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
    box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
}

.top-break {
    height: 100px;
}

.center-icons {
    margin-left: auto;
    margin-right: auto;
}

.button-width-fix {
    width: 95%;
    margin-top: 12px;
}

.emblem-background {
    width: 111.5%;
    border-top-right-radius: 10px;
    margin-left: -25px;
    border-top-left-radius: 10px;
}

.emblem-background-size {
    background-size: cover;
    background-position: 0 top;
    background-repeat: no-repeat;
    border-top-right-radius: 1em;
}

.shadow-effect {
    border-radius: 10px;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
    -moz-box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
    box-shadow: 4px 6px 5px 0px rgba(189, 183, 189, 1);
    border-left: 2px solid #E8E6E8;
    border-top: 2px solid #E8E6E8;
    border-bottom: 1px solid #E8E6E8;
    background: white;
}

.ability-icons {
    border-radius: 999px;
    background-color: #2bbbad;
    margin-left: auto;
    margin-right: auto;
}

.mini-weapon-icons {
    border-radius: 999px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2bbbad;
}

//////PROGRESS BARS///////
.progress-circle {
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    height: 5rem;
    margin: 4rem 2rem 0;
    position: relative;
    width: 5rem;
}

.progress-circle:before {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    content: attr(data-progress) '%';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 1rem;
    right: 1rem;
    top: 1rem;
    bottom: 1rem;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    margin-left: auto;
    margin-right: auto;
}

.progress-circle:after {
    background-color: #0083ff;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
}

.progress-circle:hover:before,
.progress-circle:focus:before {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

#player-container {
    height: 100%;
    position: relative;
    width: 100%;
    height: 735px;
    border-bottom-right-radius: 10px;
    margin-top: 141px;
}

#twitter-feed {
    height: 600px;
}

.row-fix {
    padding-left: 15px;
}

.sub-title {
    color: #2bbbad;
    font-weight: bold;
}

.home-page-padding {
    padding-right: 3%!important;
    padding-left: 3%!important;
}

.height-fix {
    height: 790px;
}

// .tabs {
//     margin-bottom: 4%;
//     background-color: #757575!important;
//     background-image: none;
// }

html {
    background: url(greyzz.png);
    background-attachment: fixed;
}

#char0 {
    background: url("http://hdqwalls.com/wallpapers/destiny-2-titan-4k-2017-9f.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#char1 {
    background: url("http://hdqwalls.com/wallpapers/destiny-2-hunter-4k-2017-ru.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#char2 {
    background: url("https://www.bungie.net/pubassets/98235/04_Preview.jpg?cv=3983621215&av=2340079736") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.light-level {
    margin-top: -31%;
    margin-left: 78% !important;
    color: #F5DC56;
    z-index: 1;
    font-size: 239%;
}

.grim {
    font-size: 45%!important;
    color: white!important;
    margin-top: -3%;
}

.trials-map {
    color: white;
    font-size: 320%;
    margin-top: -1%;
}

.trials-modal-name {
    color: white;
    font-size: 380%;
    margin-top: 5%!important;
}

.home-page-buttons {
    margin-top: 19%;
    background-color: transparent;
    border-radius: 15px;
}

.hr-custom {
    height: 10px;
    opacity: 0.5;
    background-color: #757575;
    border-radius: 999px;
    width: 100%;
}

.home-page-button-custom {
    width: 90%;
    border-radius: 15px;
}

.container .row {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.video-margin-fix {
    margin-top: 6.5%;
    margin-left: 6.5%;
}

.slider .indicators .indicator-item.active {
    background-color: #2bbbad;
}

.black-gradient {
    background-image: linear-gradient(141deg, #1f191a 0%, #363636 71%, #46403f 100%) !important;
}

.light-gradient {
    background-image: linear-gradient(141deg, #dfd8d9 0%, #dfd8d9 71%, #dfd8d9 100%);
}

.btn-floating i {
    background-color: #2AA8E8;
}

.post-header-background {
    background-image: url("https://www.bungie.net/pubassets/26288/tower_pano.jpg") !important;
    background-position-y: 63%;
    background-size: cover;
}

.post-header {
    height: 65px;
    margin: -9%;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-tabs {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
    // background-image: url(void.png);
}

// Mobile only branding
@media only screen and (max-width: 500px) {
    .row.posts {
        margin-left: -20% !important;
        width: 125%;
    }
}

.navbar-item {
    color: #D1D1D1;
}

.side-nav li > a {
    color: #D1D1D1;
}

.teal-text {
    color: #2AA8E8 !important;
}

.btn, .btn-large, .btn-large {
    background-color: #2AA8E8;
}


.gun-icons-trials {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 4px 6px 5px 0px #bdb7bd;
    margin-top: 25px;
    border: 3px solid grey;
}
.emblem-background-trials{
min-width: 230px;
}
.chip-trials{
font-size: 53%;
width: 121%;
margin-left: -10.5%;
}

