/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bulma";
 /* wrapper */
  .has-dropdown input[type="checkbox"] {
    display: none;
  }

  .has-dropdown input[type="checkbox"]:checked ~ .dropdown {
    display: block;
  }

  /* dropdown basic */
  .dropdown {
    display: none;
    position: absolute;
    z-index: 9999;
  }

  /* dropdown optional styling */
  .dropdown li:hover {
    background-color: #eee;
    cursor: pointer;
  }

  .image.is-square img, .image.is-1by1 img, .image.is-4by3 img, .image.is-3by2 img, .image.is-16by9 img, .image.is-2by1 img {
    bottom: 0;
    left: 10%;
    position: absolute;
    right: 0;
    top: 0;
    height: 85%;
    width: 67%;
}