        <div class="footer-copyright">
          <div class="container" style="width: 80%;">
            <center>
                <%= link_to "Site Statistics", site_stats_path %> -
                <div style="display: inline;" id="testing"></div> 
                <!-- <%= link_to "Terms of Use", "#" %> - -->
                <!-- <%= link_to "Privacy Policy", "#" %> -->
            </center>
          </div>
        </div>