
<link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?rd5re8">

<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>

    
    <ul>
      <li class="waves-effect waves-light"><a href="#!"><i class="socicon-imdb"></i></a></li>
      <li class="waves-effect waves-light"><a href="#!"><i class="socicon-facebook"></i></a></li>
      <li class="waves-effect waves-light"><a href="#!"><i class="socicon-github"></i></a></li>
      <li class="waves-effect waves-light"><a href="#!"><i class="socicon-paypal"></i></a></li>
    </ul>
  </div>